body{
    font-family: 'Raleway','Fontin' 'Fertigo';
    /*background: #008B00;*/
}
.index{
    z-index: 1;
    position: relative;
    height: 635px;
}
.home h1{
    z-index: 3;
    position: relative;
    text-align: center;
    color: aliceblue;
    font-size: 90px;
    font-weight:bolder;
    line-height: 85px;
    margin-top: -580px;
}
